@{
    SetMeta("X-UA-Compatible", "IE=edge,chrome=1");

    Style.Include("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

    Style.Include("Main.css");

    var homeUrl = Href("~/");
}

<div id="header">
	<div class="container">
		<div class="column">
			<h1 class="logo">
                <a
                    href="@homeUrl"
                    title="@WorkContext.CurrentSite.SiteName">
                    @WorkContext.CurrentSite.SiteName
                </a>
            </h1>
		</div>
		<div class="column" id="navigation">
			@Display(Model.Navigation)
		</div>
	</div>
</div>
		
<main id="content">
	@if (Model.Messages != null)
	{
		<div class="container">
   			<div class="column column-triple">
   				@Display(Model.Messages)
   			</div>
		</div>
   	}
	<div class="container">
		<div class="column column-triple">
			@Display(Model.BeforeContent)
			@Display(Model.Content)
			@Display(Model.AfterContent)
		</div>
	</div>
</main>

<div id="footer">
	<div class="container">
		<div class="column column-single">
			@Display(Model.FooterFirst)
		</div>
		<div class="column column-single">
			@Display(Model.FooterSecond)
		</div>
		<div class="column column-single">
			@Display(Model.FooterThird)
		</div>
	</div>
	<div class="container">
		<div class="column column-triple copyright">
			<p>&#169 2016 @WorkContext.CurrentSite.SiteName</p>
		</div>
	</div>
</div>

@{ Script.Include("//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"); }
@{ Script.Include("Main.js"); }
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73818665-1', 'auto');
  ga('send', 'pageview');
</script>