@{
    SetMeta("X-UA-Compatible", "IE=edge,chrome=1");
    Style.Include("Main.css");
    var homeUrl = Href("~/");
}

<header id="header">
	<div class="container">
		<div class="column">
			<h1>
				<a href="@homeUrl" title="@WorkContext.CurrentSite.SiteName">
					@WorkContext.CurrentSite.SiteName
				</a>
			</h1>
		</div>
		<div class="column">
			@Display(Model.Navigation)
		</div>
	</div>
</header>
		
<main id="content">
	@if (Model.Messages != null)
	{
		<div class="container">
   			<div class="column">
   				@Display(Model.Messages)
   			</div>
		</div>
   	}
	<div class="container">
		<div class="column">
			@Display(Model.BeforeContent)
			@Display(Model.Content)
			@Display(Model.AfterContent)
		</div>
	</div>
</main>

<footer id="footer">
	<div class="container">
		<div class="column">
			@Display(Model.FooterFirst)
		</div>
		<div class="column">
			@Display(Model.FooterSecond)
		</div>
		<div class="column">
			@Display(Model.FooterThird)
		</div>
	</div>
</footer>

@{ Script.Include("Main.js"); }